@page
@model PR_10._07._22_RazorPage_5_Task.Pages.QuoteModel
@{
}
<style>
    p{
        color:darkblue;
    }
    h4{
        text-align: right;
        color:darkgreen;
    }
</style>
<div class="text-center">
    <p class="display-4">@Model.textQuote</p>
    <h4>
        @Model.autorName
    </h4>
</div>
@*<div class="text-center">
    <h3 class="display-4">@Model.quote.textQuote</h3>
    <h4>
        @Model.quote.autorName
    </h4>
</div>*@
